%p.lead Hello World!
%h2 Latest Games
%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Game.human_attribute_name(:variant)
      %th= Game.human_attribute_name(:creator)
      %th= Game.human_attribute_name(:created_at)
  %tbody
    - if @latest_games.any?
      - @latest_games.each do |g|
        %tr
          %td= link_to g.variant_object.human_name, game_path(g)
          %td= g.creator.email
          %td= l g.created_at, :format => :short
    - else
      %tr.empty
        %td{ :colspan => 3 } No games found.
- if can? :create, Game
  = link_to 'Start a new game', new_game_path, :class => 'btn btn-primary game-new'
