%h1= t('.title')
= form_for @game, :html => { :class => :'form-horizontal' } do |f|
  .control-group
    = f.label :variant, Game.human_attribute_name(:variant), :class => :'control-label'
    .controls
      = f.select :variant, @variants.collect{ |v| [ human_game_variant(v), v ] }
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary game-create'
