%h1= t('.title')
= form_for @game, :html => { :class => :'form-horizontal' } do |f|
  .control-group
    = f.label :variant, Game.human_attribute_name(:variant), :class => :'control-label'
    .controls
      = f.collection_select :variant, @variants, :name, :human_name
  .form-actions
    = f.submit t('.submit'), :class => 'btn btn-primary game-create'
