!!!
%html
  %head
    %title= t('common.title')
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application" 
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.brand{ :href => root_path }= t('common.title')
          - if user_signed_in?
            %ul.nav.pull-right
              %li= link_to t('common.logout'), destroy_user_session_path, :method => :delete
    .container
      = yield
